body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
#main-content{
    text-align: center;
    font-size: 40px;
}
p{
    font-size: 100px;
}
#btn{
    display: flex;
    justify-content: center;
}
button{
    border: 2px solid gray;
    border-radius: 10px;
    width: 150px;
    padding: 15px;
    margin: 10px;
}
button:hover{
    border: 2px solid blue;
}
button:active{
    background-color: black;
    color: white;
}

